<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
</head>
<body>
    <h1>Add products</h1>
    <form action="submitproduct" method="post">
        <p> Productname : </p>
        <input type="text" name="productname" value="" >
        <p> productcost : </p>
        <input type="text" name="productcost" value="" >
        <p> Product country : </p>
        <input type="text" name="productcountryoforigin" value="" >
        <p> Product stock : </p>
        <input type="text" name="stock" value="" >
        <p> Productname : </p>
        <button type="submit">Submit product</button>
    </form>
    


    <h1> Show all orders, confirm and denie orders.</h1>

    
</body>
</html>