<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Data</title>
</head>
<body>
    <h1>Product Data</h1>
    <!--Loopar igenom alla products i product table--> 
    <div>
        {% for column in data %}
            <div>
                <!--Loopar igenom alla attributer i prodcuts och visar dom --> 
                {% for row in column %}
                    <p>{{ row }}</p>
                {% endfor %}
                <!--Skapar en knapp vilket fångar upp productid och skickar vidare den till order formulär --> 
                <button type="button" onclick="addToCart('{{ column[0] }}', '{{ column[1] }}', '{{ column[2] }}', '{{ column[3] }}', '{{ column[4] }}')">Add to cart</button>            
            </div> 
        {% endfor %}
    </div>

    <div>
        <button type="button" onclick="redirectToOrderPage()">Checkout</button>

    </div>
    
    <div>
        <form id="userForm" action="/submit_user" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required> 
            <div>
                <button type="submit" onclick="getValuesFromCreateAccount()">Create account</button>
            </div>
        </form>
    </div>
    
    <!--Hämtar nuvarande url, lägger till /order och productid --> 
    <script>

        //TODO. Skapa funktion för att lägga till i varukorg
        //Ändra så att redirectToOrderPage tar emot varukorg array
        var cartArray = [];

        function addToCart(element1, element2, element3, element4, element5){
                var productArray =[element1, element2, element3, element4, element5]
                console.log(productArray)
                cartArray.push(productArray)
                console.log(cartArray)
            }
        

        function redirectToOrderPage() {
            // Use cookies to store cartArray
            if (cartArray.length > 0) {
                document.cookie = "cartArray=" + JSON.stringify(cartArray) + "; path=/";
                window.location.href = "/order/"; //Går till (Nuvarande URL) + /order == 127.0.0.1:5000/order. order = order_html
            } else {
                alert("Invalid Product ID");
            }
        }
        function getValuesFromCreateAccount(){
            document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();
            createAccount(
                document.getElementById('username').value,
                document.getElementById('password').value,
                document.getElementById('email').value
        );
        });

        }
        
        function createAccount(username, password, email) {
            console.log(username, password, email);

            var userVariablesArray = [username, password, email];

            if (userVariablesArray.length > 0) {
                document.cookie = "userVariablesArray=" + JSON.stringify(userVariablesArray) + "; path=/";
                console.log("entered cookies");
                document.getElementById('userForm').submit();
            }
        }


        // function login(){
        //     document.addEventListener(){
        //         var usernameInput = document.getElementById('username')
        //         var usernameInput = document.getElementById('password')
                
        //     }
        // }
    

        
    </script>
</body>
</html>