<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Data</title>
</head>
<body>
    <h1>Plunder</h1>
    <!--Loopar igenom alla products i product table--> 
    <div>
        {% for column in data %}
            <div>
                <!--Loopar igenom alla attributer i prodcuts och visar dom --> 
                {% for row in column %}
                    
                    <p>{{ row }}</p>
                {% endfor %}

   
                <!--Skapar en knapp vilket fångar upp productid och skickar vidare den till order formulär --> 
                {% if column[5] > 0 %}
                    <form action="/add_to_cart" method="post">
                        <input type="hidden" name="productid" value="{{ column[0] }}">
                        <input type="hidden" name="productname" value="{{ column[1] }}">
                        <input type="hidden" name="productcost" value="{{ column[2] }}">
                        <input type="hidden" name="productimagefilepath" value="{{ column[3] }}">
                        <input type="hidden" name="productcountryoforigin" value="{{ column[4] }}">
                        <input type="hidden" name="stock" value="{{ column[5] }}">
                        <button type="submit">Plunder me booty</button>            
                    </form>
                {% else %}
                    <p>out of stock</p>
                {% endif %}
                <button type="button" onclick="redirectToProductInformation('{{ column[0] }}')">Treasure Tale</button>
            </div> 
        {% endfor %}
    </div>

    <div>
        <button type="button" onclick="redirectToOrderPage()">Droppin me' Anchor</button>
    </div>
    {% if not logged_in %}
        <div>
            <form id="userForm" action="/submit_user" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required> 
                <div>
                    <button type="submit" onclick="handleValuesFromForm(0)">Join the crew</button>
                </div>
            </form>
        </div>
         
        <div>
            <form id="loginForm" action="/login_authentication" method="post">
                <label for="usernameLOG">Username</label>
                <input type="text" id="usernameLOG" name="usernameLOG" required>
                <label for="passwordLOG">Password</label>
                <input type="text" id="passwordLOG" name="passwordLOG" required>
                <div>
                    <button type="submit" onclick="handleValuesFromForm(1)">Take the helm</button>
                </div>
            </form>
        </div>
        <div>
            <form id="searchForm" action="/search_order" method="post">
            <label for="orderSearchInput">Scour the seas by orderID</label>
            <input type="text" id="orderSearchInput" name="orderSearchInput" required>
            <div>
                <button type="submitOrderSearch" onclick="nonLoggedOrderSearch()">Scour</button>
            </div>
            </form>
        </div>

        
    {% else %}
        <p>Welcome to the crew!</p>
        <button type="submit" onclick="logout()">Walk the plank</button>

        <button type="button" onclick="purchasehistory()">Reveal Me Plundered Booty</button>
    {% endif %}
    <!--Hämtar nuvarande url, lägger till /order och productid --> 
    <script>

        
        //TODO. Skapa funktion för att lägga till i varukorg
        //Ändra så att redirectToOrderPage tar emot varukorg array
        var cartArray = [];

        function redirectToProductInformation(element1){
            console.log(typeof element1)
            document.cookie = "selectedProduct=" + element1 + "; path/="
            window.location.href ="/productInformation"
        }

        function nonLoggedOrderSearch(){
            var searchOrderID = document.getElementById('orderSearchInput').value;
            console.log(searchOrderID)
            document.cookie = "orderSearchInput=" + JSON.stringify(searchOrderID) + "; path=/";
            console.log("successfully created cookie in nonLoggedOrderSearch");
            document.getElementById('searchForm').submit();

        }

        function addToCart(element1, element2, element3, element4, element5){
                var productArray =[element1, element2, element3, element4, element5]
                console.log(productArray)
                cartArray.push(productArray)
                console.log(cartArray)
            }
        
        function redirectToOrderPage() {
            // Use cookies to store cartArray
            // if (cartArray.length > 0) {
            //     document.cookie = "cartArray=" + JSON.stringify(cartArray) + "; path=/";
            //     window.location.href = "/order/"; //Går till (Nuvarande URL) + /order == 127.0.0.1:5000/order. order = order_html
            // } else {
            //     alert("Invalid Product ID");
            // }
            window.location.href = "/order/";
        }

        function handleValuesFromForm(choice) {
            if (choice == 0) {
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;
                var email = document.getElementById('email').value;
                createAccount(username, password, email);
            } else {
                var usernameLOG = document.getElementById('usernameLOG').value;
                var passwordLOG = document.getElementById('passwordLOG').value;
                loginToAccount(usernameLOG, passwordLOG);
            }
        }

        function createAccount(username, password, email) {
            console.log("in create account", username, password, email);

            var userVariablesArray = [username, password, email];

            if (userVariablesArray.length > 0) {
                document.cookie = "userVariablesArray=" + JSON.stringify(userVariablesArray) + "; path=/";
                console.log("successfully created cookie in create account");
                document.getElementById('userForm').submit();
            }
        }

        function loginToAccount(username, password) {
        console.log("här är username och password: ",username, password);

        var currentPage = window.location.href
        var loginVariablesArray = [username, password, currentPage];

        // You might want to check the condition correctly
        if (loginVariablesArray.length > 0) {
            document.cookie = "loginVariablesArray=" + JSON.stringify(loginVariablesArray) + "; path=/";
            console.log("successfully created cookie in login to account");
            document.getElementById('loginForm').submit();
        }
        }

        function logout(){
            window.location.href = "/logout"
        }

        function purchasehistory(){
            window.location.href = "/purchasehistory"

        }
    </script>
</body>
</html>