<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>

<body>
    <h1>Me' Booty</h1>
    <!--Loopar igenom alla kvittoorderid med hjälp av orderid --> 
    <div>
        {% for column in result %}
            <div>
                <!--Loopar igenom alla attributer i prodcuts och visar dom --> 
                <p>OrderID: {{ column[0] }}, Address: {{ column[2] }}, Date: {{ column[5] }}, Product name: {{ column[7] }}, Price: {{ column[8] }}, Status: {{ column[6] }}</p>
            </div> 
        {% endfor %}
        <button type="button" onclick="returnToHomepage()">Return to port</button>
    </div>
    
</body>

<script>
    function returnToHomepage(){
        window.location.href = "/"
    }
</script>
