<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>

<body>
    <h1>Product Data</h1>
    <!--Loopar igenom alla kvittoorderid med hjälp av orderid --> 
    <div>
        {% for column in result %}
            <div>
                <!--Loopar igenom alla attributer i prodcuts och visar dom --> 
                <p>{{ column }}</p>
            </div> 
        {% endfor %}
        <button type="button" onclick="returnToHomepage()">Return</button>
    </div>
    
</body>

<script>
    function returnToHomepage(){
        window.location.href = "/"
    }
</script>
