<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>

<body>
    <p>Ahoy there, sea dog {{ username }}</p>

    <p>Me hearty thanks be sailin' yer way on the winds of gratitude for choosin' to plunder this fine treasure from our humble stash. Yarrr! Ye've made this old sea dog's heart dance a jig, and I be raisin' a tankard of grog in yer honor. </p>
        
    <p>With every doubloon ye parted with for this booty, ye be supportin' a crew of scallywags and keepin' our ship afloat. May this product bring ye joy, akin to findin' a chest of gold doubloons buried on a deserted isle.</p>
        
    <p>As a token of our appreciation, we be wishin' fair winds to fill yer sails and the sun to shine upon yer every endeavor. If ever ye be in need of more treasures or have a message to send, know that our sails be catchin' the breeze to respond promptly.</p>
        
    <p>Fair winds and a hearty "Yo ho ho!" to ye, dear customer. May yer days be filled with adventure and yer pockets never lack for pieces of eight.</p>
        
    <p>Yours in piracy,</p>
        
    <p>Timothy "Swashbucklin' Timbers" Blackbeard</p> 
    <p>Albin "Sea Serpent" Flintlock</p> 
    <p>Samuel "Stormy Seas" Cutlass</p> 

    <p>Captains of the BuccaneersBounty</p>

    <p>{{ orderid }}</p>
        
        
    <button type="button" onclick="returnToHomepage()">Return to port</button>
    
</body>
<script>

    function returnToHomepage(){
        window.location.href = "/"
    }
</script>

